/* Animation Keyframes */

/* Background parallax animation */
@keyframes move-background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100vw 0;
  }
}

/* Player running animation */
@keyframes player-run-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(-1 * var(--player-width) * var(--player-frames)) 0;
  }
}

/* Player jumping animation */
@keyframes player-jump-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(
        -1 * var(--player-jump-width) * var(--player-jump-frames)
      )
      0;
  }
}

/* Orion running animation */
@keyframes orion-run-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(-1 * var(--orion-width) * var(--orion-frames)) 0;
  }
}

/* Common jump animation */
@keyframes common-jump-animation {
  0%,
  100% {
    bottom: var(--ground-level);
  }
  50% {
    bottom: calc(var(--ground-level) + var(--jump-height));
  }
}
